<p style="color: green"><%= notice %></p>

<%= render @play_action_group %>

<div>
  <%= link_to "Edit this play action group", edit_play_action_group_path(@play_action_group) %> |
  <%= link_to "Back to play action groups", play_action_groups_path %>

  <%= button_to "Destroy this play action group", @play_action_group, method: :delete %>
</div>
