<p style="color: green"><%= notice %></p>

<%= render @foul %>

<div>
  <%= link_to "Edit this foul", edit_foul_path(@foul) %> |
  <%= link_to "Back to fouls", fouls_path %>

  <%= button_to "Destroy this foul", @foul, method: :delete %>
</div>
