<p style="color: green"><%= notice %></p>

<%= render @season_team %>

<div>
  <%= link_to "Edit this season team", edit_season_team_path(@season_team) %> |
  <%= link_to "Back to season teams", season_teams_path %>

  <%= button_to "Destroy this season team", @season_team, method: :delete %>
</div>
